<!DOCTYPE html>
<html>
<head>
    <title>File Copy Script</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>
<body>
    <h1>File Copy Script</h1>

    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}

    {% include 'select_files.html' %}
    {% include 'generate_file_list.html' %}
    {% include 'copy_files.html' %}
    {% include 'copy_files_by_tags.html' %}
    {% include 'validate_destination.html' %}
    {% include 'manage.html' %}


</body>
</html>
